In [5]:
import seaborn  as sns
df=sns.load_dataset("tips")

df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
mean_total_bill=df.groupby("time")["total_bill"].mean().to_dict()
mean_total_bill

C:\Users\Nitin\AppData\Local\Temp\ipykernel_123852\840890420.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_total_bill=df.groupby("time")["total_bill"].mean().to_dict()

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [8]:
df['time_encoded']=df['time'].map(mean_total_bill)
df

     total_bill   tip     sex smoker   day    time  size time_encoded
0         16.99  1.01  Female     No   Sun  Dinner     2    20.797159
1         10.34  1.66    Male     No   Sun  Dinner     3    20.797159
2         21.01  3.50    Male     No   Sun  Dinner     3    20.797159
3         23.68  3.31    Male     No   Sun  Dinner     2    20.797159
4         24.59  3.61  Female     No   Sun  Dinner     4    20.797159
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3    20.797159
240       27.18  2.00  Female    Yes   Sat  Dinner     2    20.797159
241       22.67  2.00    Male    Yes   Sat  Dinner     2    20.797159
242       17.82  1.75    Male     No   Sat  Dinner     2    20.797159
243       18.78  3.00  Female     No  Thur  Dinner     2    20.797159

[244 rows x 8 columns]

In [13]:
df.tail(50)

     total_bill   tip     sex smoker   day    time  size time_encoded
194       16.58  4.00    Male    Yes  Thur   Lunch     2    17.168676
195        7.56  1.44    Male     No  Thur   Lunch     2    17.168676
196       10.34  2.00    Male    Yes  Thur   Lunch     2    17.168676
197       43.11  5.00  Female    Yes  Thur   Lunch     4    17.168676
198       13.00  2.00  Female    Yes  Thur   Lunch     2    17.168676
199       13.51  2.00    Male    Yes  Thur   Lunch     2    17.168676
200       18.71  4.00    Male    Yes  Thur   Lunch     3    17.168676
201       12.74  2.01  Female    Yes  Thur   Lunch     2    17.168676
202       13.00  2.00  Female    Yes  Thur   Lunch     2    17.168676
203       16.40  2.50  Female    Yes  Thur   Lunch     2    17.168676
204       20.53  4.00    Male    Yes  Thur   Lunch     4    17.168676
205       16.47  3.23  Female    Yes  Thur   Lunch     3    17.168676
206       26.59  3.41    Male    Yes   Sat  Dinner     3    20.797159
207       38.73  3.00    Male    Yes   Sat  Dinner     4    20.797159
208       24.27  2.03    Male    Yes   Sat  Dinner     2    20.797159
209       12.76  2.23  Female    Yes   Sat  Dinner     2    20.797159
210       30.06  2.00    Male    Yes   Sat  Dinner     3    20.797159
211       25.89  5.16    Male    Yes   Sat  Dinner     4    20.797159
212       48.33  9.00    Male     No   Sat  Dinner     4    20.797159
213       13.27  2.50  Female    Yes   Sat  Dinner     2    20.797159
214       28.17  6.50  Female    Yes   Sat  Dinner     3    20.797159
215       12.90  1.10  Female    Yes   Sat  Dinner     2    20.797159
216       28.15  3.00    Male    Yes   Sat  Dinner     5    20.797159
217       11.59  1.50    Male    Yes   Sat  Dinner     2    20.797159
218        7.74  1.44    Male    Yes   Sat  Dinner     2    20.797159
219       30.14  3.09  Female    Yes   Sat  Dinner     4    20.797159
220       12.16  2.20    Male    Yes   Fri   Lunch     2    17.168676
221       13.42  3.48  Female    Yes   Fri   Lunch     2    17.168676
222        8.58  1.92    Male    Yes   Fri   Lunch     1    17.168676
223       15.98  3.00  Female     No   Fri   Lunch     3    17.168676
224       13.42  1.58    Male    Yes   Fri   Lunch     2    17.168676
225       16.27  2.50  Female    Yes   Fri   Lunch     2    17.168676
226       10.09  2.00  Female    Yes   Fri   Lunch     2    17.168676
227       20.45  3.00    Male     No   Sat  Dinner     4    20.797159
228       13.28  2.72    Male     No   Sat  Dinner     2    20.797159
229       22.12  2.88  Female    Yes   Sat  Dinner     2    20.797159
230       24.01  2.00    Male    Yes   Sat  Dinner     4    20.797159
231       15.69  3.00    Male    Yes   Sat  Dinner     3    20.797159
232       11.61  3.39    Male     No   Sat  Dinner     2    20.797159
233       10.77  1.47    Male     No   Sat  Dinner     2    20.797159
234       15.53  3.00    Male    Yes   Sat  Dinner     2    20.797159
235       10.07  1.25    Male     No   Sat  Dinner     2    20.797159
236       12.60  1.00    Male    Yes   Sat  Dinner     2    20.797159
237       32.83  1.17    Male    Yes   Sat  Dinner     2    20.797159
238       35.83  4.67  Female     No   Sat  Dinner     3    20.797159
239       29.03  5.92    Male     No   Sat  Dinner     3    20.797159
240       27.18  2.00  Female    Yes   Sat  Dinner     2    20.797159
241       22.67  2.00    Male    Yes   Sat  Dinner     2    20.797159
242       17.82  1.75    Male     No   Sat  Dinner     2    20.797159
243       18.78  3.00  Female     No  Thur  Dinner     2    20.797159